:root{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.btn-success {
  background-color: #59a210
}

.btn-dark {
  background-color: #424649;
}

.btn-primary{
  background-color: #0b5ed7;
}

.btn-secondary{
  background-color: #424649;
}