:root{
  margin: 0;
  padding: 0;
  display: inline-block;
}

#app{
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
  overflow:hidden;
}

.btn-success {
  background-color: #a9f5d1;
}

.btn-dark {
  background-color: #424649;
}

.btn-primary{
  background-color: #0b5ed7;
}

.btn-secondary{
  background-color: #d1d7db;
}